{% extends 'WeddingRespondBundle::layout.html.twig' %}

{% block content %}
  <div class="page page-rsvp">
    {{ render(controller("WeddingRespondBundle:Default:rsvp")) }}
  </div>
  <div class="page page-gentlemen">
    {{ render(controller("WeddingRespondBundle:Default:gentlemen")) }}
  </div>
  <div class="page page-ladies">
    {{ render(controller("WeddingRespondBundle:Default:ladies")) }}
  </div>
  <div class="page page-registry">
    {{ render(controller("WeddingRespondBundle:Default:registry")) }}
  </div>
  <div class="page page-accommodations">
    {{ render(controller("WeddingRespondBundle:Default:accommodations")) }}
  </div>
  <div class="page page-directions">
    {{ render(controller("WeddingRespondBundle:Default:directions")) }}
  </div>
{% endblock %}